@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@500&display=swap');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'PT Mono', monospace;
*/


*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'PT Mono', monospace;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
}
h3{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:.25rem 0;
    font-size:clamp(.75rem, 2.5vw, 3rem);
}
.red, .yellow, .green, .blue{
    display:grid;
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    gap:clamp(3px, 3vw, .5rem);
    padding: clamp(5px, 2vw, 1.5rem);
}
#strikes{
    margin: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap:.5rem;
}

#board{
    border:3px solid #1e1e1e;
    padding:clamp(.25rem, 2.5vw, 2rem);
    margin:1.5rem;
    border-radius:1rem;
}
.red{
    background-color: #ca24378e;
}
.yellow{
    background-color: #fcfc068e;
}
.green{
    background-color: #30ca238e;
}
.blue{
    background-color: #0030fa8e;
}
#s1,#s2,#s3,#s4{
    width:1.3rem;
    height: 1.3rem;
}