@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@500&display=swap');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'PT Mono', monospace;
*/


*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'PT Mono', monospace;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
}
h3{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:.25rem 0;
    font-size:clamp(.75rem, 2.5vw, 3rem);
    background-color: white;
    height:100%;
}
.red, .yellow, .green, .blue{
    display:grid;
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    gap:clamp(3px, 3vw, .5rem);
    padding: clamp(5px, 2vw, 1.5rem);
}
#strikes{
    margin: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap:.5rem;
}

#board{
    border:.5rem solid #1e1e1e;
    /* padding:clamp(.25rem, 2vw, 1rem); */
    margin:1.5rem;
    border-radius:1rem;
    min-width:320px;
}
.red{
    background-color: #ca24378e;
    /* border-radius: 1rem 1rem 0 0; */
}
.yellow{
    background-color: #fcfc068e;
}
.green{
    background-color: #30ca238e;
}
.blue{
    background-color: #0030fa8e;
    /* border-radius:0 0 1rem 1rem; */
}
#s1,#s2,#s3,#s4{
    width:clamp(1.3rem, 4vw, 3rem);
    height: clamp(1.3rem, 4vw, 3rem);
}